<h1>File Upload</h1>
<% form_for(:upload, :url => {:action => 'upload_result'}, :html => {:multipart => true }) do |f| -%>
  <p><label for="upload_file">Select File</label> :
  <%= file_field 'upload', 'picture' %></p>
  <%= submit_tag "Upload" %>
<% end %>